<div class="iu-login-container">
  <div class="iu-login-box">
    <div class="iu-logo">
      <img src="img/Logos/PROMETTE_LOGO.png" class="img-fluid" width="100%" />
    </div>

    <div class="iu-tabs">
      <button class="iu-tab active" data-tab="forgot-password">
        Recuperar contraseña
      </button>
    </div>

    <form
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="onSubmit()"
      class="iu-form"
      id="forgotPasswordForm"
      @fadeIn
    >
      <div class="iu-form-group">
        <p-floatLabel variant="on">
          <input
            id="email"
            type="email"
            pInputText
            formControlName="email"
            class="w-full"
            [ngClass]="{
              'ng-invalid ng-dirty':
                forgotPasswordForm.get('email')?.invalid &&
                forgotPasswordForm.get('email')?.touched
            }"
          />
          <label for="email">Correo electrónico</label>
        </p-floatLabel>
        <small
          class="error-message"
          *ngIf="
            forgotPasswordForm.get('email')?.invalid &&
            forgotPasswordForm.get('email')?.touched
          "
        >
          <span *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">
            El correo es requerido
          </span>
          <span *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">
            No es un correo válido
          </span>
        </small>
      </div>

      <button
        type="submit"
        class="submit-button"
        [disabled]="forgotPasswordForm.invalid"
      >
        Enviar correo
      </button>

      <div class="auth-links d-flex justify-content-between mt-3">
        <a routerLink="/auth/login">Iniciar sesión</a>
        <a routerLink="/auth/register">Registrarse</a>
      </div>
    </form>
  </div>
</div>
