<header class="header text-center text-secondary mb-1">
  <h1>Administración de facilitadores</h1>
</header>

<div class="container-fluid">
  <!-- @todo Para integración backend: Agregar alerta para errores de carga -->
  <!-- Barra de control y navegación -->
  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <!-- Navegación de pestañas -->
    <ul
      ngbNav
      #nav="ngbNav"
      [(activeId)]="activeTab"
      (activeIdChange)="setActiveTab($event)"
      class="nav-tabs"
    ></ul>

    <!-- @todo Para integración backend: Verificar permisos antes de mostrar botón -->
    <!--  <button type="button" class="btn btn-primary" (click)="newDiagnosis()">
          <i class="bi bi-plus-lg me-2"></i>
          Nuevo evaluador
        </button>
      </div>-->

    <!-- @todo Para integración backend: Agregar indicador de carga -->
    <!-- <div *ngIf="isLoading" class="text-center py-5">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Cargando...</span>
        </div>
      </div> -->

    <!-- AG Grid - Tabla de datos -->
    <div class="grid-container evaluators-admin-grid">
      <ag-grid-angular
        [ngStyle]="{ display: filteredActiveTab.length > 0 ? 'block' : 'none' }"
        class="ag-theme-quartz grid-responsive"
        [rowData]="applicants"
        [columnDefs]="columnDefs"
        [gridOptions]="gridOptions"
        [pagination]="true"
        [paginationPageSize]="paginationPageSize"
        [paginationPageSizeSelector]="paginationPageSizeSelector"
        [theme]="myTheme"
      ></ag-grid-angular>
    </div>

    <!-- Mensaje cuando no hay datos -->
    <h4
      *ngIf="filteredActiveTab.length === 0"
      class="text-center text-muted fw-lighter my-5"
    >
      No se encontraron datos de evaluadores
    </h4>
  </div>
  <shared-custom-modal-component></shared-custom-modal-component>
</div>
