
    <footer id="footer" class="footer light-background mt-5">
    <div class="container">
      <h3>
        <img src="img/Logos/florColor2.png" class="img-fluid mb-2" width="10%">
      </h3>
      <!-- <div class="social-links d-flex justify-content-center">
        <a href=""><i class="bi bi-twitter-x"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-youtube"></i></a>
      </div> -->
      <div class="container">
        <div class="copyright">
          <p>© <span>Copyright</span> <strong class="px-1 sitename">SEPE | USET</strong> <span>Todos los derechos reservados</span></p>
        </div>
        <div class="credits">
          VERSION {{version}}
        </div>
      </div>
    </div>
  </footer>