<!-- Alt Features Section -->
<section id="alt-features" class="alt-features section light-background">

  <div class="container">

    <div class="row gy-5">

      <div class="col-xl-7 d-flex order-2 order-xl-1" data-aos="fade-up" data-aos-delay="200">

        <div class="row align-self-center gy-5">

          <div class="col-md-6 icon-box">
            <i class="bi bi-award"></i>
            <div>
              <h4>Misión</h4>
              <p>Reorganizar, articular y actualizar la política educativa del estado a través del Nuevo Modelo
                Educativo Tlaxcalteca permitiendo que la educación del estado en todos sus niveles, así como la
                estructura que lo sostiene optimicen el servicio educativo en la entidad, garantizando el derecho a la
                educación de las niñas, niños y adolescentes, y convertirnos en un referente nacional.</p>
            </div>
          </div><!-- End Feature Item -->

          <div class="col-md-6 icon-box">
            <i class="bi bi-patch-check"></i>
            <div>
              <h4>Visión</h4>
              <p>Para el 2027 posicionar a la Secretaría de Educación Pública del Estado y a la Unidad de Servicios
                Educativos de Tlaxcala como los entes referentes en el país en la implementación del proyecto educativo
                nacional, emprendiendo estrategias locales que garanticen el pleno derecho a la educación de las y los
                niños, jóvenes y adolescentes del estado.</p>
            </div>
          </div><!-- End Feature Item -->

        </div>

      </div>

      <div class="col-xl-5 d-flex align-items-center order-1 order-xl-2" data-aos="fade-up" data-aos-delay="100">
        <img src="img/Logos/Flower_SG.png" class="img-fluid logo" alt="">
      </div>

    </div>

  </div>

</section><!-- /Alt Features Section -->