    <!-- Features Section -->
    <section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Convocatorias</h2>
        <p>En esta sección encontrarás las convocatorias disponibles para participar en nuestros procesos.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="100">
            <div class="features-item">
              <i class="bi bi-mortarboard" style="color: #ffbb2c;"></i>
              <h3><a href="" class="stretched-link">Cursos PRODEP</a></h3>
            </div>
          </div><!-- End Feature Item -->

          <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="200">
            <div class="features-item">
              <i class="bi bi-heart-pulse" style="color: #5578ff;"></i>
              <h3><a href="" class="stretched-link">Programa ANEEC</a></h3>
            </div>
          </div><!-- End Feature Item -->

        </div>

      </div>

    </section><!-- /Features Section -->