<div class="container py-3">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Form Header -->
    <h3 class="text-center text-secondary mb-4">Gestión de Direcciones</h3>

    <!-- Nombre Departamento Input Group -->
    <div class="mb-4 mt-4">
      <p-inputgroup>
        <p-floatlabel>
          <input
            pInputText
            formControlName="nombre_direccion"
            id="nombre_direccion"
            [ngClass]="{
              'is-invalid':
                form.get('nombre_direccion')?.invalid &&
                form.get('nombre_direccion')?.touched
            }"
            class="form-control"
          />
          <label for="nombre_direccion">Nombre de la Dirección</label>
        </p-floatlabel>
      </p-inputgroup>
      <div
        *ngIf="
          form.get('nombre_direccion')?.invalid && form.get('nombre_direccion')?.touched
        "
        class="invalid-feedback d-block"
      >
        El nombre es requerido.
      </div>
    </div>

    <!-- Área Autocomplete de tipo hide que guarda el ID del módulo
         -->
    <div class="mb-4">
    <p-floatlabel>
         <p-autocomplete
         formControlName="ct_dependencia"
         [suggestions]="filteredOptions"
         (completeMethod)="filterOptions($event)"
         field="label"
         [dropdown]="true"
         [forceSelection]="true"
         (onSelect)="onOptionSelect($event)"
         [style]="{'width':'100%'}"
       ></p-autocomplete>
       <label for="over_label">Dependencia de la dirección</label>
      </p-floatlabel>
    </div>

    <!-- Action Buttons -->
    <div class="d-flex justify-content-between mt-4">
      <button
        type="button"
        class="btn btn-outline-secondary w-25 fw-bold"
        (click)="close()"
      >
        Cerrar
      </button>
      <div *ngIf="data?.mode !== 'view'" class="w-25">
        <button
          type="submit"
          class="btn btn-primary w-100 fw-bold"
          [disabled]="form.invalid && data?.mode !== 'view'"
        >
          {{
            data?.mode === "add"
              ? "Agregar"
              : data?.mode === "edit"
              ? "Guardar Cambios"
              : "Ver"
          }}
        </button>
      </div>
    </div>
  </form>
</div>

<!--
  Display Form Data for Debugging
  <div class="mt-4">
    <pre>{{ form.value | json }}</pre>
  </div>
  -->
