.controls {
  margin: 20px;
  border-radius: 8px;
  padding: 20px;
  background-color: #f5f5f5;
}

.canvas-container {
  position: relative;
  margin-top: 20px;
  border: 2px dashed #ccc;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.canvas-container:hover {
  background-color: #e0e0e0;
}

.draggable-item {
  position: absolute;
  cursor: pointer;
  padding: 5px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  min-width: 50px; /* Ancho mínimo */
  min-height: 30px; /* Alto mínimo */
}

.delete-button {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ff4d4d;
}

iframe {
  border: none;
  border-radius: 8px;
}
.canvas-container {
  position: relative;
  margin-top: 20px;
  border: 2px dashed #ccc;
  background-color: #f0f0f0;
  overflow: hidden; /* Esto asegura que los elementos no se salgan visualmente del lienzo */
  transition: background-color 0.3s ease;
}

.draggable-item {
  position: absolute;
  cursor: pointer;
  padding: 5px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  min-width: 50px; /* Ancho mínimo */
  min-height: 30px; /* Alto mínimo */
  pointer-events: auto;
}
