<!-- Services Section -->
<section id="services" class="services section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Accesos rápidos</h2>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">
      <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative">
          <i class="bi bi-person-video3"></i>
          <h4><a  class="stretched-link">RUPEET</a></h4>
        </div>
    </div>
    <!-- End Service Item -->

    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative">
          <i class="bi bi-layout-text-window-reverse"></i>
          <h4><a routerLink="/PROMETTE/login" class="stretched-link">PROMETTE</a></h4>
        </div>
    </div>
    <!-- End Service Item -->

    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative">
          <i class="bi bi-clipboard"></i>
          <h4><a  class="stretched-link">INFRAESTRUCTURA</a></h4>
        </div>
    </div>
    <!-- End Service Item -->

    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative">
          <i class="bi bi-mortarboard"></i>
          <h4><a  class="stretched-link">SICE</a></h4>
        </div>
    </div>
    <!-- End Service Item -->

    </div>
  </div>
</section>
<!-- /Services Section -->